<label class="{{_className}}-kind">
    {{label}} Type
    <select class="{{_className}}-kind">
        <option value="mbox">E-mail</option>
        <option value="mbox_sha1sum">E-mail SHA1</option>
        <option value="openid">Open ID</option>
        <option value="account">Account</option>
    </select>
</label>
<label class="{{_className}}-value">
    {{label}} Value <input type="text" class="{{_className}}-value">
</label>
<label class="{{_className}}-acct-name">
    {{label}} Name <input type="text" class="{{_className}}-acct-name">
</label>
<label class="{{_className}}-acct-homePage">
    {{label}} Homepage <input type="text" class="{{_className}}-acct-homePage">
</label>
