<div class="pure-form" style="margin-top: 50px;">
    <legend>{{config.name}}</legend>
    <p>{{config.description}}</p>
    <p>{{actorName}} observed by {{mentorName}}</p>
    <div class="{{_className}}-items pure-g-r"></div>
    <div style="text-align: center;">
        <button class="pure-button {{_className}}-incomplete">Mark Incomplete</button>
        <button class="pure-button {{_className}}-complete">Mark Complete</button>
        <button class="pure-button {{_className}}-completePass">Mark Passed</button>
        <button class="pure-button {{_className}}-completeFail">Mark Failed</button>
    </div>
</div>
