<div class="rs-app-header">
    <h1>Recipes</h1>
    <h2>Patterns for Tin Can Statements</h2>
</div>

<div class="rs-app-content">
    <h3>Configuration</h3>
    <div class="pure-form pure-form-stacked">
        <legend>LRS</legend>
        <div data-subview="lrs"></div>
    </div>

    <h3>Checklist</h3>
    <p>
        Pattern for capturing observation of a colleague, student, etc.
    </p>
    <h3>Video</h3>
    <p>
        Pattern for capturing interaction with a video player.
    </p>
</div>
