var AppConfig = AppConfig || {};

(function () {
    /* Values */
    AppConfig.enableDebug = true;
    AppConfig.routesRoot = "/";
    AppConfig.LRS = {
        endpoint: "",
        username: "",
        password: ""
    };
    AppConfig.video = {
        apiKey: ""
    };
    AppConfig.checklists = [];
}());
